<html>

<head></head>

<body>
    <h1 align="center">$#$QuotHeader$#$</h1>
    <table style="width:100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <th><b>$#$CompanyName$#$</b></th>
                    </tr>
                    <tr>
                        <td>$#$OwnerName$#$</td>
                    </tr>
                    <tr>
                        <td>$#$OwnerPhone$#$</td>
                    </tr>
                </table>
            </td>
            <td style="float: right; margin-right: 25px;">
                <img src="$#$CompanyLogoPath$#$" width="200" height="100">
            </td>
        </tr>
    </table>
    <table style="width:100%; margin-top: 5px;">
        <tr>
            <td>
                <table>
                    <tr>
                        <th><b>$#$CustomerName$#$</b></th>
                    </tr>
                    <tr>
                        <td>$#$CustomerCompanyName$#$</td>
                    </tr>
                    <tr>
                        <td>$#$Address1$#$</td>
                    </tr>
                    <tr>
                        <td>$#$Address2$#$</td>
                    </tr>
                    <tr>
                        <td>$#$CustomerPhone$#$</td>
                    </tr>
                </table>
            </td>
            <td style="float: right; margin-top:5px;">
                <table border="1">
                    <tr>
                        <td>Quotation Reference#</td>
                        <td>$#$QuotationReference$#$</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>$#$QuotDate$#$</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table style="width:100%;">
        <tr>
            <td>Dear Sir,</td>
        </tr>
        <tr>
            <td>Subject: $#$QuotType$#$ details.</td>
        </tr>
        <tr>
            <td>[Labor rate per unit for with or without material]</td>
        </tr>
    </table>

    <table style="width:100%;" border="1" cellpadding="3">
        <tr>
            <th><b>SI#</b></th>
            <th><b>Item</b></th>
            <th><b>Point</b></th>
            <th><b>Quantity</b></th>
            <th><b>Amount</b></th>
        </tr>
        $#$QuotMaterials$#$
    </table>
   

    <table style="width:100%;">
        <tr>
            <td>Date:</td>
            <td style="float: right;">Submitted by,</td>
        </tr>
	<tr>
            <td></td>
            <td style="float: right;">$#$OwnerName$#$</td>
        </tr>
    </table>
</body>

</html>
